{% extends '../base/base.html' %}{% load static %}{% block client %}

<div class="divider-line"></div>
<div class="client-wrapper">
  <div class="client-wrapper-inner">
    <div class="inner-story-title">
      <h1>CLIENTS & PATNERS</h1>
      <div class="slice-line-x"></div>
    </div>
    <div class="client-wrapper-items">
      <div class="row">
        <div class="col-lg-3 p-1">
          <div class="client-item-wrapper">
            <img src="{% static 'images/registers.jpeg' %}" alt="Registers logo" />
          </div>
        </div>
        <div class="col-lg-3 p-1">
          <div class="client-item-wrapper">
            <img src="{% static 'images/kenyaRu.jpg' %}" alt="KenyaRu logo" />
          </div>
        </div>
        <div class="col-lg-3 p-1">
          <div class="client-item-wrapper">
            <img src="{% static 'images/simbacorp.jpeg' %}" alt="Simba corp logo" />
          </div>
        </div>
        <div class="col-lg-3 p-1">
          <div class="client-item-wrapper">
            <img src="{% static 'images/mpesa.png' %}" alt="Mpesa logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
