{% extends "../base/base.html" %}{% load static %}{% block contact-us %}

<div class="contact-us-section" id="call-us">
  <div class="divider-line"></div>
  <div class="client-wrapper">
    <div class="client-wrapper-inner">
      <div class="inner-story-title">
        <h1>CONTACT US</h1>
        <div class="slice-line-x"></div>
      </div>
      <div class="client-wrapper-items">
        <div class="row">
          <div class="col-lg-6 p-1">
            <div class="client-form">
              {% if messages %}
                {% for message in messages %}
                <p {% if message.tags %} style="color: greenyellow;" class="{{ message.tags }}"{% endif %}>{{ message }}</p>
               {% endfor %}
              {% endif %}
      
              <form method="post" action="">
                {% csrf_token %}
                <input type="text" id="name" placeholder="Name" name="name" required /><br /><br />
                <input type="email" id="email" placeholder="Email" name="email" required /><br /><br />
                <input type="text" id="subject" placeholder="Subject" name="subject" required /><br /><br />
                <textarea id="message" placeholder="How can we help you?" name="message" required></textarea><br /><br />
                <div class="experience-button">
                    <div class="acct-experience-button">
                        <button type="submit" class="submit-button">Submit</button>
                    </div>
                    <div class="experience-button-skew"></div>
                </div>
            </form>
            </div>
          </div>
          <div class="col-lg-6 p-1">
            <div class="client-item-wrapper-x">
              <p>Click to Contact us</p>
              <a href="tel:+254113255152">+254 113 255 152</a>
              <a href="tel:+254724555615">+254 724 555 615</a>
              <a href="mailto:info@livemasters.co.ke">info@livemasters.co.ke</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
