{% extends "../base/base.html" %}{% load static %}{% block contact-us %}

<div class="contact-us-section">
  <div class="divider-line"></div>
  <div class="client-wrapper">
    <div class="client-wrapper-inner">
      <div class="inner-story-title">
        <h1>CONTACT US</h1>
        <div class="slice-line-x"></div>
      </div>
      <div class="client-wrapper-items">
        <div class="row">
          <div class="col-lg-12 p-1">
            <div class="client-item-wrapper-x">
              <p>Click to Contact us</p>
              <a href="tel:+254113255152">+254 113 255 152</a>
              <a href="tel:+254724555615">+254 724 555 615</a>
              <a href="mailto:info@livemasters.co.ke">info@livemasters.co.ke</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
