{% extends '../base/base.html' %}{% load static %}{% block experience %}

<div class="divider-line"></div>
<div class="experience-wrapper" id="mastersep">
  <div class="overlay-experience-wrapper">
    <div class="main-experience-overlay"></div>
    <div class="right-side-experience">
      <img src="{% static 'images/axels.jpg' %}" alt="" />
    </div>
    <div class="inner-experience-wrapper">
      <div class="inner-story-title">
        <h1>
          THE <br />
          <span> LIVE MASTERS </span>
          <br />
          EXPERIENCE
        </h1>
        <div class="slice-line-x"></div>
        <div class="inner-experience-caption">
          <p>
            LiveMasters is specially equipped to serve medium and large-sized
            brands as well as multinational organizations looking to gain entry
            or visibility into Africa and Kenya. Over the years, LiveMasters has
            confronted business challenges with innovative strategies and
            result-driven implementation tactics that deliver the desired
            organizational results. The company boasts a team of seasoned
            professionals with extensive experience in live streaming major
            events, from political rallies, corporate launches, Annual General
            Meetings, sporting events, and so much more.
          </p>
        </div>
      </div>

      <div class="experience-items">
        <div class="experience-items-inner">
          <div class="left-side-experience">
            <img src="{% static 'images/family-bank.jpeg' %}" alt="" />
            <div class="experience-content">
              <h1>
                Family bank <br />
                corporate event.
              </h1>
            </div>
            
          </div>

          <div class="experience-line"></div>

          <div class="experience-slider">
            <div class="center-bolt">
              <div class="service-cards">
                <div class="slider-reel">
                  <div class="card-x">
                    <div class="card-x-inner">
                      <img
                        loading="lazy"
                        src="{% static 'images/annine.jpg' %}"
                        alt=""
                      />
                      <!-- <div class="bottom-left-x">
                        <div class="title-line-experience">
                          <h1>Kaizer Cheifs vs East London Fc</h1>
                        </div>
                        
                      </div> -->
                    </div>
                  </div>
                  <div class="card-x">
                    <div class="card-x-inner">
                      <img
                        loading="lazy"
                        src="{% static 'images/redwire.jpeg' %}"
                        alt=""
                      />
                      <!-- <div class="bottom-left-x">
                        <div class="title-line-experience">
                          <h1>Kaizer Cheifs vs East London Fc</h1>
                        </div>
                       
                      </div> -->
                    </div>
                  </div>
                  <div class="card-x">
                    <div class="card-x-inner">
                      <img
                        loading="lazy"
                        src="{% static 'images/family-bank.jpeg' %}"
                        alt=""
                      />
                      <!-- <div class="bottom-left-x">
                        <div class="title-line-experience">
                          <h1>Kaizer Cheifs vs East London Fc</h1>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="card-x">
                    <div class="card-x-inner">
                      <img
                        loading="lazy"
                        src="{% static 'images/blue-men.jpeg' %}"
                        alt=""
                      />
                      <!-- <div class="bottom-left-x">
                        <div class="title-line-experience">
                          <h1>Kaizer Cheifs vs East London Fc</h1>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
