{% extends "../base/base.html" %}{% load static %}{% block experience-two %}

<div class="divider-line"></div>
<div class="experience-wrapper">
  <div class="overlay-experience-wrapper">
    <div class="inner-experience-wrapper">
      <div class="inner-story-title">
        <h1>
          THE <br />
          MAGAZINE
        </h1>
        <div class="slice-line-x"></div>
        <div class="inner-experience-caption">
          <p>
            LiveMasters specializes in serving medium to large-sized brands and
            multinational organizations seeking visibility or entry into Africa
            and Kenya. With years of experience tackling business challenges
            through innovative strategies and result-driven tactics, we deliver
            impactful outcomes. Our team of seasoned professionals excels in
            live streaming major events, including political rallies, corporate
            launches, AGMs, sporting events, and more.
          </p>
        </div>
      </div>

      <div class="experience-items">
        <div class="experience-items-inner">
          <div class="left-side-experience">
            <img src="{% static 'images/family-bank.jpeg' %}" alt="" />
            <div class="experience-content">
              <h1>
                Family bank <br />
                corporate event.
              </h1>
            </div>
            <div class="experience-button">
              <div class="acct-experience-button">
                <a href="">View</a>
              </div>
              <div class="experience-button-skew"></div>
            </div>
          </div>

          <div class="experience-line"></div>

          <div class="experience-slider">
            <div class="center-bolt">
              <div class="service-cards">
                <div class="slider-reel">
                  <div class="card-x">
                    <div class="card-x-inner">
                      <img
                        loading="lazy"
                        src="{% static 'images/annine.jpg' %}"
                        alt=""
                      />
                      <div class="bottom-left-x">
                        <div class="title-line-experience">
                          <h1>Kaizer Cheifs vs East London Fc</h1>
                        </div>
                        <div class="experience-button">
                          <div class="acct-experience-button">
                            <a href="">View</a>
                          </div>
                          <div class="experience-button-skew"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-x">
                    <div class="card-x-inner">
                      <img
                        loading="lazy"
                        src="{% static 'images/redwire.jpeg' %}"
                        alt=""
                      />
                      <div class="bottom-left-x">
                        <div class="title-line-experience">
                          <h1>Kaizer Cheifs vs East London Fc</h1>
                        </div>
                        <div class="experience-button">
                          <div class="acct-experience-button">
                            <a href="">View</a>
                          </div>
                          <div class="experience-button-skew"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-x">
                    <div class="card-x-inner">
                      <img
                        loading="lazy"
                        src="{% static 'images/family-bank.jpeg' %}"
                        alt=""
                      />
                      <div class="bottom-left-x">
                        <div class="title-line-experience">
                          <h1>Kaizer Cheifs vs East London Fc</h1>
                        </div>
                        <div class="experience-button">
                          <div class="acct-experience-button">
                            <a href="">View</a>
                          </div>
                          <div class="experience-button-skew"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-x">
                    <div class="card-x-inner">
                      <img
                        loading="lazy"
                        src="{% static 'images/blue-men.jpeg' %}"
                        alt=""
                      />
                      <div class="bottom-left-x">
                        <div class="title-line-experience">
                          <h1>Kaizer Cheifs vs East London Fc</h1>
                        </div>
                        <div class="experience-button">
                          <div class="acct-experience-button">
                            <a href="">View</a>
                          </div>
                          <div class="experience-button-skew"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
