{% extends '../base/base.html' %}{% load static %}{% block footer %}
<div class="divider-line"></div>
<div class="footer-wrapper">
  <div class="inner-footer-wrapper">
    <div class="inner-story-title">
      <h1>
        THANK YOU <br />
        FOR VISITING <span>LIVE MASTERS </span>
      </h1>
    </div>
    <div class="slice-line-x"></div>
    <div class="footer-nav">
      <div class="inner-nav-wrapper">
        <a href="#landing">Home</a>
        <a href="#story-one">Story Telling</a>
        <a href="#story-two">Live Streaming</a>
        <a href="#mastersep">Masters Experience</a>
        <a href="#magazine">The Magazine</a>
        <a href="tel:+254722592248">Call us</a>
        <a href="mailto:charleskuria@live.com">Email us</a>
      </div>
    </div>
    <div class="legal-footer-line"></div>
    <div class="legal-info-x-footer">
      <p>All Rights Reserved</p>
      <p>© LIVE MASTERS 2025 .</p>
      <p>
        This site is protected by
        <a href="https://www.google.com/recaptcha" target="_blank">reCAPTCHA</a>
        and the
        <a href="https://policies.google.com/privacy?hl=en-US" target="_blank"
          >Google Privacy Policy</a
        >
        and
        <a href="https://policies.google.com/terms?hl=en-US" target="_blank"
          >Terms of Service apply</a
        >
      </p>
    </div>
  </div>
</div>

{% endblock %}
