{% extends '../base/base.html' %}{% load static %}{% block title %} Home | LiveMasters {% endblock %}

{% block template %}

    <div class="content" >
        <div class="landing-socket">
            {% include "../liveappTemp/landing.html" %}
        </div>
        <div class="landing-socket">
            {% include "../liveappTemp/story.html" %}
        </div>
        <div class="landing-socket">
            {% include "../liveappTemp/story-two.html" %}
        </div>
        <div class="landing-socket" >
            {% include "../liveappTemp/experience.html" %}
        </div>
        <div class="landing-socket" >
            {% include "../liveappTemp/experience-two.html" %}
        </div>
        <div class="landing-socket">
            {% include "../liveappTemp/clients.html" %}
        </div>
    </div>

{% endblock %}