{% extends '../base/base.html' %}{% load static %}{% block title %} Home | LiveMasters {% endblock %}

{% block template %}

    <div class="content" >
        <div class="landing-socket">
            {% include "../liveappTemp/landing.html" %}
        </div>
        <div class="landing-socket">
            {% include "../liveappTemp/process.html" %}
        </div>
        <div class="landing-socket" >
            {% include "../liveappTemp/experience.html" %}
        </div>
        <div class="landing-socket" >
            {% include "../liveappTemp/experience-two.html" %}
        </div>
        <div class="landing-socket">
            {% include "../liveappTemp/clients.html" %}
        </div>
        <div class="landing-socket">
            {% include "../liveappTemp/contact-us.html" %}
        </div>
        <div class="landing-socket">
            {% include "../liveappTemp/footer.html" %}
        </div>
        
    </div>

{% endblock %}