{% extends "../base/base.html" %}{% load static %}{% block process %}
<div class="divider-line"></div>
<div class="process-wrapper" id="process">
  <div class="inner-process-wrapper">
    <div class="inner-story-title">
      <h1>THE PROCESS</h1>
      <div class="slice-line-x"></div>
    </div>
    <div class="item-process-xx-title">
      <div class="item-process-title-left">
        <h1>THE STORY TELLING PROCESS</h1>
      </div>
      <div class="item-process-title-right">
        <h1>THE LIVE STREAMING PROCESS</h1>
      </div>
    </div>
    <div class="item-process-scroll">
      <div class="item-process-items">
        <div class="item-left-process">
          <div class="the-actual-story-item-content">
            <p>
              This is where we connect with clients to deeply understand their
              requirements and objectives. At LiveMasters, we prioritize
              understanding the people, context, and unique intersectionality of
              each client’s story, ensuring every narrative is authentic and
              impactful.
            </p>
            <div class="acctual-story-arrow">
              <img src="{% static 'images/arrow-red.svg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="item-left-process">
          <img src="{% static 'images/cynton.jpg' %}" alt="" />
          <div class="item-inner-content">
            <div class="inner-content-item">
              <h1>Consulting and planning</h1>
              <div class="slice-line-x"></div>
            </div>
          </div>
        </div>
        <div class="item-left-process">
          <div class="the-actual-story-item-content">
            <p>
              LiveMasters begins by consulting and strategizing, defining
              technical requirements, and crafting a comprehensive production
              plan to ensure flawless live execution.
            </p>
            <div class="acctual-story-arrow">
              <img src="{% static 'images/arrow-red.svg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="item-process-items">
        <div class="item-left-process">
          <div class="the-actual-story-item-content">
            <p>
              This stage focuses on crafting a detailed production plan,
              covering every aspect—from scripting and scheduling to equipment
              needs, logistics, permits, and talent casting (if required). At
              LiveMasters, we ensure every detail is meticulously planned for
              seamless execution.
            </p>
            <div class="acctual-story-arrow">
              <img src="{% static 'images/arrow-red.svg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="item-left-process">
          <img src="{% static 'images/cop.jpeg' %}" alt="" />
          <div class="item-inner-content">
            <div class="inner-content-item">
              <h1>
                Pre - Production <br />
                TX Setup & Reharsals
              </h1>
              <div class="slice-line-x"></div>
            </div>
          </div>
        </div>
        <div class="item-left-process">
          <div class="the-actual-story-item-content">
            <p>
              The team prepares by setting up live streaming equipment and
              conducting thorough rehearsals, ensuring a seamless and flawless
              production.
            </p>
            <div class="acctual-story-arrow">
              <img src="{% static 'images/arrow-red.svg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="item-process-items">
        <div class="item-left-process">
          <div class="the-actual-story-item-content">
            <p>
              Set up filming equipment, including Cameras, audio recording
              devices, lighting and any other additional gear needed for the
              shoot. Film according to the approved client brief and or shot
              list.
            </p>
            <div class="acctual-story-arrow">
              <img src="{% static 'images/arrow-red.svg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="item-left-process">
          <img src="{% static 'images/familycrop.jpeg' %}" alt="" />
          <div class="item-inner-content">
            <div class="inner-content-item">
              <h1>
                Production <br />
                Live Event Production
              </h1>
              <div class="slice-line-x"></div>
            </div>
          </div>
        </div>
        <div class="item-left-process">
          <div class="the-actual-story-item-content">
            <p>
              During the live event, LiveMasters manages the production,
              delivering high-quality streaming and maximizing audience
              engagement.
            </p>
            <div class="acctual-story-arrow">
              <img src="{% static 'images/arrow-red.svg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="item-process-items">
        <div class="item-left-process">
          <div class="the-actual-story-item-content">
            <p>
              Post-production graphics, music, voiceovers, and special effects
              as per the client’s requirements. Incorporate the clients feedback
              during the editing process.
            </p>
            <!-- <div class="acctual-story-arrow">
              <img src="{% static 'images/arrow-red.svg' %}" alt="" />
            </div> -->
          </div>
        </div>
        <div class="item-left-process">
          <img src="{% static 'images/blue-men.jpeg' %}" alt="" />
          <div class="item-inner-content">
            <div class="inner-content-item">
              <h1>Post Production</h1>
              <div class="slice-line-x"></div>
            </div>
          </div>
        </div>
        <div class="item-left-process">
          <div class="the-actual-story-item-content">
            <p>
              After the event, LiveMasters conducts post-production tasks and
              evaluates the project, incorporating feedback for future
              improvements.
            </p>
            <!-- <div class="acctual-story-arrow">
              <img src="{% static 'images/arrow-red.svg' %}" alt="" />
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
