{% extends "../base/base.html" %}{% load static %}{% block story-two %}

<div class="divider-line"></div>
<div class="story-wrapper" id="story-two" >
  <div class="left-story-side">
    <img src="{% static 'images/man.jpeg' %}" alt="" />
  </div>
  <div class="inner-story-wrapper">
    <div class="wrapper-story-inner">
      <div class="inner-story-title">
        <h1>
          THE <br />
          LIVE STREAMING PROCESS
        </h1>
      </div>
      <div class="slice-line-x"></div>
      <div class="story-content">
        <div class="inner-story-content">
          <div class="the-story-content">
            <div class="row">
              <div class="col-lg-6">
                <div class="the-actual-story-item">
                  <div class="the-number-story">
                    <h1>1</h1>
                    <div class="straight-line-story"></div>
                  </div>
                  <img src="{% static 'images/cynton.jpg' %}" alt="" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="the-actual-story-item-content">
                  <h1>Consulting and planning</h1>
                  <div class="slice-line-x"></div>
                  <p>
                    LiveMasters begins by consulting and strategizing, defining
                    technical requirements, and crafting a comprehensive
                    production plan to ensure flawless live execution.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="the-story-content">
            <div class="row">
              <div class="col-lg-6">
                <div class="the-actual-story-item">
                  <div class="the-number-story">
                    <h1>2</h1>
                    <div class="straight-line-story"></div>
                  </div>
                  <img src="{% static 'images/cop.jpeg' %}" alt="" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="the-actual-story-item-content">
                  <h1>TX Setup & Reharsals</h1>
                  <div class="slice-line-x"></div>
                  <p>
                    The team prepares by setting up live streaming equipment and
                    conducting thorough rehearsals, ensuring a seamless and
                    flawless production.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="the-story-content">
            <div class="row">
              <div class="col-lg-6">
                <div class="the-actual-story-item">
                  <div class="the-number-story">
                    <h1>3</h1>
                    <div class="straight-line-story"></div>
                  </div>
                  <img src="{% static 'images/family-bank.jpeg' %}" alt="" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="the-actual-story-item-content">
                  <h1>Live Event Production</h1>
                  <div class="slice-line-x"></div>
                  <p>
                    During the live event, LiveMasters manages the production,
                    delivering high-quality streaming and maximizing audience
                    engagement.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="the-story-content">
            <div class="row">
              <div class="col-lg-6">
                <div class="the-actual-story-item">
                  <div class="the-number-story">
                    <h1>4</h1>
                    <div class="straight-line-story"></div>
                  </div>
                  <img src="{% static 'images/man.jpeg' %}" alt="" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="the-actual-story-item-content">
                  <h1>Post-Production and Evaluation</h1>
                  <div class="slice-line-x"></div>
                  <p>
                    After the event, LiveMasters handles post-production,
                    evaluates the project, and integrates feedback to
                    continuously enhance future productions.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
